.banner-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  .banner-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .banner-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2.2em !important;
    background: #0F4C75 !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
    border: 1px solid #0F4C75;
  }
  
  .banner-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #0F4C75;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .banner-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #0F4C75;
  }
  
  .banner-social-icons:hover {
    color: #3282B8;
    box-shadow: 0 0 5px #0F4C75;
    text-shadow: 0 0 2px #3282B8;
  }
  @media (max-width: 767px) {
    .banner-about-social-links {
      padding-bottom: 0;
      margin-top: 0;
      padding-top: 0;
    }
    .banner-about-social-links{
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
      margin-top: 0;
    }
   
  }
 